<nav>
  <div class="vertical">
    <div class="nav-wrapper">
      <div class="nav-title">
        <a href="{{ .Site.BaseURL }}">Hartwell Records</a>
      </div>
      <div id="navItems" class="nav-items">
        <ul>
          {{ range .Site.Menus.main.ByWeight }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="nav-button">
        <a href="#" id="navButton">
          <span class="burger-icon"></span>
        </a>      
      </div>
    </div>
  </div>
</nav>
<nav id="mobile-nav" class="mobile-nav">
    <div class="mobile-nav-items">
      <ul class=vertical>
        {{ range .Site.Menus.main.ByWeight }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>