{{ if .Params.image }}
{{ $image := (resources.Get .Params.image).Fill "2000x1168 smart" }}
<header class="page-header" style="background-image:url({{ $image.RelPermalink }});">
{{ else }}
<header class="page-header">
{{ end }}
  <div class="page-header-overlay"></div>
  <div class="vertical">
    <div class="page-header-content">
      {{ with .Title }}
        <h1>{{ . }}</h1>
      {{ end }}
      {{ with .Params.subtitle }}
        <h2>{{ . }}</h2>
      {{ end }}
    </div>
  </div>
</header>