.site-footer{
  width: 100%;
  float: left;
  background: $color-black;
  color: $color-white;
  text-align: center;
  padding: $spacing-unit * 2 0;
  img{
    max-width: 20em;
    margin-bottom: $spacing-unit;
  }
  h3{
    font-size: 1.2rem;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: $spacing-unit;
  }
  hr{
    max-width: 5em;
    height: .4em;
    background: $color-white;
    margin-bottom: $spacing-unit;
  } 
  ul{
  margin: 0;
    li{
      display: inline-block;
      margin: 0;
      a{
        font-size: .7rem;
        font-weight: 600;
        margin: .1em;
        padding: 2em .5em;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $color-grey-light;
      }
    }
  }
}