form{
  display: block;
  margin: $spacing-unit 0;

  button{
    width: 100%;
    margin-right: 0;
  }
}

input, select, textarea{
  color: $color-white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  outline: none;
}
.form-group{
  margin-bottom: $spacing-unit / 2;
}

label.form-label {
  font-family: $alt-font-family;
  color: $color-grey-light;
  font-weight: 700;
  font-size: 1rem;
  float: left;
  width: 100%;
  display: inline-block;
}
input.form-control {
  font-family: $base-font-family;
  text-align: left;
  height: 1.6em;
  font-size: 1.2rem;
  width:100%;
  background:transparent;
  border: none;
  border-bottom: 2px solid $color-grey-light;
  transition: all .2s ease-in-out;
  padding: 0;
}
select.form-control {
  height: 1.6em;
  font-size: 1.2rem;
  width:100%;
  padding: 6px 12px 0;
  background:transparent;
  border: none;
  border-bottom: 2px solid $color-grey-light;
}
select option{
    font-size: 1.5rem;
}
textarea.form-control{
  font-family: $base-font-family;
  text-align: left;
  margin-bottom: $spacing-unit / 2;
  height: 1.6em;
  font-size: 1.2rem;
  width:100%;
  background:transparent;
  border: none;
  border-bottom: 2px solid $color-grey-light;
  transition: all .2s ease-in-out;
  padding: 0;
}
input.field:focus {
  border:none;
}

input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="text"]:focus,input[type="tel"]:focus,input[type="url"]:focus,input[type="password"]:focus,textarea:focus,select:focus {
    outline:0px !important;
    -webkit-appearance:none;
    border: none;
    border-bottom: 2px solid $color-white;
}
input.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $color-white;
}
input.form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $color-white;
}
textarea.form-control:focus {
  height: 5em;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid $color-white;
}
textarea.form-control:active {
  height: 5em;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid $color-white;
}

input[type=checkbox],input[type=radio] {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  transition: all .3s ease-out 0;
  border: 2px solid $color-grey-light;
  color: $color-grey-light;
  cursor: pointer;
  display: block;
  outline: none;
  margin-right: .5rem;
  margin-bottom: -.5em;
  margin-top: .5em;
  z-index: 1000;
  box-shadow: none;
  display: inline-block;
}


input[type=checkbox]:checked,input[type=radio]:checked{ 
  border-color: $color-white;
  background: #fafafa; 
}

input[type=checkbox]:checked::before,input[type=radio]:checked::before {
  width: 30px;
  height: 30px;
  position: absolute;
  content: '✔';
  color: #333;
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 25px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    outline: none;
    outline: 0;
    outline-offset: 0;
}

