.block-cta{
  width: 100%;
  height: 60vh;
  min-height: 70vh;
  background: $color-grey;
  display: table;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: $box-shadow-alt;
  .block-cta-overlay{
    width: 100%;
    height: 70vh;
    position: absolute;
    background: $color-black;
    opacity: .6;
  }
  .block-cta-content{
    position: relative;

    h2{
      color: $color-white;
      font-size: 5rem;
      @media (max-width: $tablet) {
        font-size: 3rem;
      }
    }
  }
  
}