.block-showcase{
  width: 100%;
  .block-showcase-content{
    padding: 0 $spacing-unit * 2;
    @media (max-width: $tablet) {
      padding: 0;
    }
    max-width: $content-width;
    margin: 0 auto;
    margin-bottom: $spacing-unit * 2;
    h2{
      font-size: 3rem;
      color: $color-white;
      margin-bottom: $spacing-unit / 2;
      text-align: center;
    }
    p{
      font-family: $header-font-family;
      font-size: 2rem;
      text-align: center;
    }
  }
  .block-showcase-item{
    box-shadow: $box-shadow;
    border-radius: .3em;
    @include column(1/3, $cycle: 3);
    margin-bottom: $spacing-unit;
    @media (max-width: $tablet) {
      @include stack();
    }
    img{
      min-width: 100%;
      border-radius: $border-radius;
    }
    .block-showcase-item-content{
      padding: $spacing-unit;
      h3{
        font-size: 1.4rem;
      }
      p{
        font-size: 1rem;
      }
      .button{
        padding: .5em 1em;
        span{
          font-size: .7rem;
        }
      }
    }
  }
}